/* destructive-action and suggested-action are default styles added into the library */
button.destructive-action:hover,
button.suggested-action:hover {
    color: lightblue;
    background: gray;
}

menubutton arrow {
    color: magenta;
    -gtk-icon-source: -gtk-icontheme('format-justify-fill-symbolic');
}